.App {
  text-align: center;
}

.logo-wrapper {
  display: inline-block;
  transition: transform 0.3s ease; /* Smooth transition for scaling */
  cursor: pointer;
}

.logo-wrapper:hover {
  transform: scale(1.1); /* Adjust scale value as needed */
}

@keyframes breathing {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Adjust scale value as needed */
  }
}

.logo-wrapper.breathing {
  animation: breathing 2s ease-in-out infinite;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  width: auto; /* Ensure the logo maintains its aspect ratio */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f79f69;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  transition: transform 0.3s ease; /* Smooth transition for moving */
}

.logo-wrapper:hover + .App-header {
  transform: translateY(-200px); /* Adjust value as needed */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #c25656;
  border: none;
  border-radius: 5px;
  color: #fff;
  margin: 10px; /* Adjust spacing as needed */
  transition: transform 0.3s ease; /* Smooth transition for moving */
}

.logo-wrapper:hover ~ div button {
  transform: translateY(10px); /* Adjust value as needed */
}

button:hover {
  background-color: #ce6767;
}

button:disabled {
  cursor: not-allowed;
}

.fade-text {
  transition: opacity 0.5s ease;
  opacity: 1;
}

.fade-text.fade-out {
  opacity: 0;
}

/* New CSS for transitions */
.slide-out {
  animation: slideOut 0.5s forwards;
}

.slide-in {
  animation: slideIn 0.5s forwards;
}

.offscreen {
  transform: translateX(100%);
}

@keyframes slideOut {
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Adjust the .App-header class to handle the content-loaded state */
.App-header.content-loaded {
  justify-content: flex-start; /* Align content to the start to make room for the incoming text */
}