.App {
  text-align: center;
}

.logo-wrapper {
  display: inline-block;
  transition: transform 0.3s ease; /* Smooth transition for scaling */
  cursor: pointer;
}

.logo-wrapper:hover {
  transform: scale(1.1); /* Adjust scale value as needed */
}

@keyframes breathing {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Adjust scale value as needed */
  }
}

.logo-wrapper.breathing {
  animation: breathing 2s ease-in-out infinite;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  width: auto; /* Ensure the logo maintains its aspect ratio */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f79f69;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  transition: transform 0.3s ease; /* Smooth transition for moving */
}

.logo-wrapper:hover + .App-header {
  transform: translateY(-200px); /* Adjust value as needed */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #c25656;
  border: none;
  border-radius: 5px;
  color: #fff;
  margin: 10px; /* Adjust spacing as needed */
  transition: transform 0.3s ease; /* Smooth transition for moving */
}

.logo-wrapper:hover ~ div button {
  transform: translateY(10px); /* Adjust value as needed */
}

.logo-wrapper.shrink {
  transform: scale(0.9);
  transition: transform 0.3s ease;
}

button:hover {
  background-color: #a94646;
  transform: scale(1.2);
}

button:disabled {
  cursor: not-allowed;
}

.fade-text {
  transition: opacity 0.5s ease;
  opacity: 1;
}

.fade-text.fade-out {
  opacity: 0;
}

/* New CSS for transitions */
.slide-out {
  animation: slideOut 0.5s forwards;
}

.slide-in {
  animation: slideIn 0.5s forwards;
}

.offscreen {
  transform: translateX(100%);
}

@keyframes slideOut {
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Adjust the .App-header class to handle the content-loaded state */
.App-header.content-loaded {
  justify-content: flex-start; /* Align content to the start to make room for the incoming text */
}

.analysis-container {
  background-color: #e68a5c;
  color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 800px;
  width: 100%;
  margin: 20px auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.analysis-container h3 {
  color: #a94646;
  margin-top: 20px;
  margin-bottom: 10px;
}

.analysis-container p, .analysis-container li {
  text-align: left;
}

.analysis-container ul {
  list-style-type: none;
  padding: 0;
}

.analysis-container li {
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
}

.analysis-container li:hover {
  background-color: #cc7a4e;
  cursor: pointer;
}

.analysis-container div {
  margin-bottom: 10px;
  padding: 10px;
  border-left: 5px solid #a94646;
  border-right: 5px solid #a94646;
  border-radius: 5px;
  margin-top: 40px;
}

.analysis-container strong {
  color: #333;
  margin-right: 5px;
}

.window-top-right-logo {
  height: 7vmin; /* Adjust the size of the logo */
  position: fixed;
  top: 30px;
  right: 30px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.window-top-right-logo:hover {
  transform: scale(1.2); /* Adjust scale value as needed */
}